= simple_form_for @location, html: { class: 'form-horizontal' } do |f|
  = f.error_notification
  = @location.errors.full_messages.inspect unless @location.errors.empty?
  = f.input :name
  = f.input :latitude
  = f.input :longitude
  .form-actions
    = f.button :submit, class: 'btn-primary'
    - if @location.persisted?
      = link_to 'Cancel', user_location_path(@location, user_id: current_user.id), class: 'btn btn-default'
    - else
      = link_to 'Cancel', root_path, class: 'btn btn-danger'
